<p>
  <strong>Close <%= prediction.date %>: </strong>
  <%= prediction.formatted_price %>
</p>
<p>
  <strong>Projected: </strong>
  <span class="<%= prediction.change_class %>">
    <%= "#{prediction.projected_price} [#{prediction.change_percentage}]" %>
  </span>
</p>
