<h3>DJIA Prediction History</h3>
<%= link_to "Home", root_path %>

<% @predictions.each do |prediction| %>
  <p><strong>Date: </strong><%= prediction.price.date + 1.day %>
  <p><strong>Projected price: </strong><%= prediction.projected_price %>
  <p><strong>Actual price: </strong><%= prediction.actual_price %>
  <hr>
<% end %>
